<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Routing name="RoutingAppender">
            <Routes pattern="${ctx:logFilePath}">
                <Route>
                    <File name="FileAppender" fileName="${ctx:logFilePath}">
                        <PatternLayout pattern="[%d{HH:mm:ss}] [%t] [%p] %m%n"/>
                    </File>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="RoutingAppender"/>
        </Root>
    </Loggers>
</Configuration>
